<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuywei.housekeeping.dao.extend.CommentExtendMapper">

    <select id="selectByOrderId" resultMap="CommentExtendResultMap">
        SELECT *
        FROM hk_comment
        WHERE order_id = #{orderId} AND partent_id IS NULL
    </select>

    <select id="selectChildren" resultMap="com.liuywei.housekeeping.dao.CommentMapper.BaseResultMap">
        SELECT *
        FROM hk_comment
        WHERE partent_id = #{id}
    </select>

    <resultMap id="CommentExtendResultMap"
               type="com.liuywei.housekeeping.domain.extend.CommentExtend"
               extends="com.liuywei.housekeeping.dao.CommentMapper.BaseResultMap">
        <association property="customer" column="user_id"
                     select="com.liuywei.housekeeping.dao.UserMapper.selectByPrimaryKey"></association>
        <collection property="children" column="id"
                    select="selectChildren"></collection>
    </resultMap>

</mapper>